<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
      <div class="container d-flex justify-content-between align-items-center">

          <app-navbar [place]=2></app-navbar>
      </div>
  </header><!-- End Header -->

  <main id="main">

      <!-- ======= Breadcrumbs Section ======= -->
      <section class="breadcrumbs">
          <div class="container">
           

              <div class="d-flex justify-content-between align-items-center">
                  <h2 class="bold" [style.color]="data.textcolor">{{ 'AllavisComponent.Consulter' | translate }}: {{details.nom_Service}} {{ 'AllavisComponent.agence' | translate }} {{details.Agence.libelle}} {{ 'AllavisComponent.à' | translate }} {{details.Agence.ville}}</h2>
                
              </div>

          </div>
      </section>
      <section id="portfolio" class="portfolio">
          <div class="container" data-aos="fade-up">
             

             
              <div class="container">



                  <div class="row">
                      <div class="col-lg-6 col-md-6" *ngFor="let avisclient of avis">
                          <div class="card mb-4">
                            
                              <div class="card-body">
                                  <form>
                                      
      
      
                                      <div class="account-settings">
                                          <div class="user-profile">
                                            <div class="user-avatar">
                                              <img [src]="'https://codebackend-production.up.railway.app/getImges/' + avisclient.Client.photo">
                                            </div>
                                            <div>
                                                <h3>{{avisclient.Client.nom}} {{avisclient.Client.prenom}}</h3>

                                            <p >{{ avisclient.commentaire }}</p>
                                          </div>
                        
                                          <div style="display: flex; justify-content: center; align-items: center; margin: 0 auto;" class="rating">
                                            <span *ngFor="let star of stars.slice(avisclient.etoile)" (click)="rate(star)">&#9733;</span>
                                            <span *ngFor="let star of stars.slice(0, avisclient.etoile)" class="filled" (click)="rate(star)">&#9733;</span>
                                          </div>
                                        </div>
                                      </div>
                                    
                                     
                                    
                                     
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          
      </section><!-- End Portfolio Section -->




  </main><!-- End #main -->


</body>
<app-footer-componment></app-footer-componment>
