<html  [style.background-color]="data.backgroundcolor">
  
<body class="container"  [style.background-color]="data.backgroundcolor">
      <div class="image-container " id="myBox" >

        <img [src]="data.image"  alt="your-image-description-here" (animationend)="onAnimationEnd()">
       
      
      </div>
      <div class="loadingio-spinner-spinner-gnuhlzfrcg5" >
          
        <div class="ldio-2zehptrhf63" >
        <div [style.background-color]="data.backgroundcolorbutton"></div  >
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        <div [style.background-color]="data.backgroundcolorbutton"></div>
        </div>
      
      </div>
      </body>
      </html>