<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head><header id="header" class="fixed-top d-flex align-items-center ">

    <app-navbar  [place]=4></app-navbar>
  
  </header><!-- End Header -->
  
  <body >
   <div class="boxe"></div>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}                  </div>
                  
                  
                    <div *ngIf="successMessage" class="alert alert-success">
                    {{ successMessage }}
                  </div>
                <div style="float:left; padding: 10px;">

                    <a routerLink="/home" class="home-icon">
                        <i  [style.Color]="data.backgroundcolorbutton" style="size: 40px;" class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </div>

                <form id="regForm" #f="ngForm" (ngSubmit)="login(f)">
                    <h1 id="register">{{ 'Login.Connectez-Vous' | translate }}</h1>

                    <div class="all-steps" id="all-steps">
                        <span [style.borderColor]="data.backgroundcolorbutton" [style.color]="data.textbutton" [style.backgroundColor]="data.backgroundcolorbutton" class="step"> 1</span>


                    </div>

                    <div class="tab">

                        <div class="input-group mb-3">
                            <span [style.borderColor]="data.backgroundcolorbutton"  [style.backgroundColor]="data.backgroundcolorbutton" class="input-group-text">
                                <i [style.color]="data.textbutton" class="fa fa-phone"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="{{ 'Login.numtel' | translate }}" #telephone="ngModel" ngModel
                                name="telephone">

                        </div>
                        <div class="input-group mb-3">
                            <span [style.borderColor]="data.backgroundcolorbutton"  [style.backgroundColor]="data.backgroundcolorbutton" class="input-group-text">
                                <i [style.color]="data.textbutton" class="fa fa-lock"></i>
                            </span>
                            <input
                     
                            class="form-control form-control-lg"
                            placeholder="{{ 'Login.password' | translate }}"
                            type="{{ showPassword ? 'text' : 'password' }}" id="password"
                            #password="ngModel" ngModel name="password" required="">
                            <div class="input-group-append">
                              <span [style.borderColor]="data.backgroundcolorbutton"  [style.backgroundColor]="data.backgroundcolorbutton" class="form-control form-control-lg" (click)="togglePassword()">
                                <i [style.color]="data.textbutton" class="fa fa-eye" *ngIf="showPassword"></i>
                                <i  [style.color]="data.textbutton" class="fa fa-eye-slash" *ngIf="!showPassword"></i>
                              </span>
                            </div>

                        </div>

                     
















                    </div>
                 
                    <div style="overflow:auto;" id="nextprevious">
                        
                        <div style="float:right;">
                            <button [style.color]="data.textbutton" [style.borderColor]="data.backgroundcolorbutton"  [style.backgroundColor]="data.backgroundcolorbutton" type="submit" id="nextBtn"  click="nextPrev(1)">{{ 'Login.ButtonSuivant' | translate }}</button>
                        </div>
                        
                    </div>
                    <div class="fix1">
                    <div style="float:left;">
                        <h6 routerLink="/register" style="cursor: pointer;"> {{ 'Login.ButtonCréer' | translate }}<i class="fa fa-arrow-right "></i></h6>
                    </div>
                    <br>
                    <div style="float:left;">
                        <h6 routerLink="/forgetPassword" style="cursor: pointer;">{{ 'Login.ButtonOublié' | translate }} <i class="fa fa-arrow-right "></i></h6>
                    </div>
                    </div>
                    
                </form>

            </div>

        </div>

    </div>









</body>
<app-footer-componment></app-footer-componment>
